[submodule "QuaDRiGa_latest"]
	path = QuaDRiGa_latest
	url = https://github.com/fraunhoferhhi/QuaDRiGa.git
[submodule "software/QuaDRiGa_latest"]
	path = software/QuaDRiGa_latest
	url = https://github.com/fraunhoferhhi/QuaDRiGa.git
